body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsla(280, 95%, 57%, 1);
    background: linear-gradient(135deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B429F9", endColorstr="#26C5F3", GradientType=1 );
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}

.main {
    flex:100%;
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}